@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Employee Salary";
}

<h2>Salary Management</h2>

 

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Base Salary</th>
            <th>Bonus</th>
            <th>Total Salary</th>
            <th>Created Date</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Account.FullName</td>
                <td>@item.BaseSalary</td>
                <td>@item.Bonus</td>
                <td>@item.TotalSalary</td>
                <td>@item.CreatedDate?.ToString("dd/MM/yyyy")</td>
                
            </tr>
        }
    </tbody>
</table>
